<form method="post" enctype="multipart/form-data">
  <p>Name: <input type="text" name="name" /></p>
  <p>Des: <input type="text" name="des" /></p>
  <p>Image: <input type="file" name="image" /></p>
  <p>address: <input type="text" name="address" /></p>
  <p>TimeTable: <input type="text" name="time_table" /></p>
  <p>State <input type="text" name="state" /></p>
  <p>CheckMode <input type="text" name="check_mode" /></p>
  <input type="submit" value="Submit" />
</form>